.white-box {
  padding: 35px;
  background: rgba(255, 255, 255, 0.4); /* Adjust the alpha value (0.0 to 1.0) for transparency */
  border-radius: 5px;
}


.center{
font-family :Arial, Helvetica, sans-serif;
font-size: 34px;
  margin-bottom: 30px;
font-weight: bold;
  }
